{% include 'admin-layout.html' %}
</br>
<body id="page-top">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"> 12 Month's of Balr Twitter @ {{ data['date']['S'] }}</h1>
            
          </div>

          <!-- Content Row -->
          <div class="row">
          

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Followers</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['user_stats']['M']['followers']['N'] }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tweets</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['user_stats']['M']['statuses']['N'] }} </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total retweets</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['tweet_counts']['M']['retweet_count']['N'] }} </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total favourites</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{data['tweet_counts']['M']['favourite_count']['N']}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Tweet activity</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Tweet engagement:</div>
                      <a class="dropdown-item" href="javascript: getChartArea({{data}}, 'favourites')">Favourited</a>
                      <a class="dropdown-item" href="javascript: getChartArea({{data}}, 'retweetes')">Retweeted</a>
                      
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Most Favourited Tweet</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    
                    <!-- add in test from most retweeted/favourited (Need to get the drop down working first) -->
                    <p>Date: {{data['tweet_counts']['M']['most_favourited']['M']['date_of_favourite']['S']}}</p>
                    <p>Favourited Count: {{data['tweet_counts']['M']['most_favourited']['M']['favourites']['N']}}</p>
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 7rem;" src="static/img/Twitter-Download-PNG.png" alt="">
                    <p>"{{data['tweet_counts']['M']['most_favourited']['M']['text']['S']}}"</p>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-sm-4 mb-2">

               <!-- Project Card Example -->
               <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Associated hashtags with Tweets containing #Balr</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">#{{ data['top_5_hashtags']['M']['1']['M']['hashtag']['S'] }} <span class="float-right">{{ data['top_5_hashtags']['M']['1']['M']['count']['N'] }}</span></h4>
                  <div class="progress mb-4">
                    <div id= "hashtag_1" class="progress-bar bg-danger" role="progressbar" style="" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">#{{ data['top_5_hashtags']['M']['2']['M']['hashtag']['S'] }}<span class="float-right">{{ data['top_5_hashtags']['M']['2']['M']['count']['N'] }}</span></h4>
                  <div class="progress mb-4">
                    <div id="hashtag_2" class="progress-bar bg-warning" role="progressbar" style="" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">#{{ data['top_5_hashtags']['M']['3']['M']['hashtag']['S'] }}<span class="float-right">{{ data['top_5_hashtags']['M']['3']['M']['count']['N'] }}</span></h4>
                  <div class="progress mb-4">
                    <div id="hashtag_3" class="progress-bar" role="progressbar" style="" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">#{{ data['top_5_hashtags']['M']['4']['M']['hashtag']['S'] }}<span class="float-right">{{ data['top_5_hashtags']['M']['4']['M']['count']['N'] }}</span></h4>
                  <div class="progress mb-4">
                    <div id="hashtag_4" class="progress-bar bg-info" role="progressbar" style="" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">#{{ data['top_5_hashtags']['M']['5']['M']['hashtag']['S'] }}<span class="float-right">{{ data['top_5_hashtags']['M']['5']['M']['count']['N'] }}</span></h4>
                  <div class="progress">
                    <div id="hashtag_5" class="progress-bar bg-success" role="progressbar" style="" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>

               <!-- Donut Chart -->
            <div class="col-xl-4 col-lg-3">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Languages for Tweets containing #Balr</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4">
                    <canvas id="myPieChart"></canvas>
                    <p></p>
                  </div>
                 
                </div>
              </div>
            </div>
         <!-- Illustrations -->
         <div class="col-xl-4 col-lg-3">
         <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Total weekly Twitter stats for Tweets containing #Balr</h6>
          </div>
          <div class="card-body">
            <div class="text-center">

            </div>
            <p>Total tweets using #Balr: {{data['totals']['M']['tweets']['N']}}</p>
            <p>Total potential reach: {{data['totals']['M']['reach']['N']}}</p>
            <p>Total favourites: {{data['totals']['M']['total_favourites']['N']}}</p>
            <p>Total retweets: {{data['totals']['M']['total_retweets']['N']}}</a></p>
          </div>
        </div>
      </div>

     <!-- Illustrations -->
   
      <div class="card shadow mb-4">
       <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary">Important things to note</h6>
       </div>
       <div class="card-body">
         <div class="text-center">

         </div>
         <p>- A week of Hashtags with #Balr time frame is 7 days. This time frame was chosen due to limits of request through twitter API and limiting server run time (Free tier AWS)</p>
         <p>- Location data for Twitter is user generated and not an indication of actual loction, tweet language is used as a proxy for location.</p>
         <p>- Total potential reach, is the sum of followers for unique accounts using the #Balr hashtag this week. If a user posts twice in 1 week only one set of followers will be counted.</p>
         <p>- All data for this dashboard is publically available through Twitter API</p>
         <p>- Source code this project is available at <a target="_blank" rel="nofollow" href="https://github.com/BradWebb101/balr_twitter">Github</a></p>
         <br>
         <br>
         <br>
         <br>
        </div>
     </div>
   </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Brad Webb</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="static/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->

<script src="static/js/demo/chart-area-demo.js"></script>
<script src="static/js/demo/chart-pie-demo.js"></script>
{% block javascript %}
<script>
var chartData = {{data|tojson}}
var myAreaChart = getAreaChart(chartData, 'favourites')
var myPieChart = getPieChart(chartData)
</script>


<script>hashtags = {{data|tojson}}
document.getElementById("hashtag_1").setAttribute("style", hashtags['top_5_hashtags']['M']['1']['M']['percentage']['S']);
document.getElementById("hashtag_2").setAttribute("style", hashtags['top_5_hashtags']['M']['2']['M']['percentage']['S']);
document.getElementById("hashtag_3").setAttribute("style", hashtags['top_5_hashtags']['M']['3']['M']['percentage']['S']);
document.getElementById("hashtag_4").setAttribute("style", hashtags['top_5_hashtags']['M']['4']['M']['percentage']['S']);
document.getElementById("hashtag_5").setAttribute("style", hashtags['top_5_hashtags']['M']['5']['M']['percentage']['S']);
</script>
{% endblock %}
</body>

</html>
